/* CSS Document - COMMON CSS*/
.cp{cursor: pointer}
/*BORDER RELATED*/
.no_border{border:0 none !important}
/****************/
/*START padding*/
.p0{padding: 0 !important}
.pl0{padding-left: 0 !important}
.pt0{padding-top: 0 !important}
.pr0{padding-right: 0 !important}
.pb0{padding-bottom: 0 !important}

.p5{padding: 5px !important}
.pl5{padding-left: 5px !important}
.pr5{padding-right: 5px !important}
.pb5{padding-bottom: 5px !important}
.pt5{padding-top: 5px !important}

.p10{padding: 10px !important}
.pl10{padding-left: 10px !important}
.pr10{padding-right: 10px !important}
.pb10{padding-bottom: 10px !important}
.pt10{padding-top: 10px !important}

.p15{padding: 15px !important}
.pl15{padding-left: 15px !important}
.pr15{padding-right: 15px !important}
.pb15{padding-bottom: 15px !important}
.pt15{padding-top: 15px !important}

.p20{padding: 20px !important}
.pl20{padding-left: 20px !important}
.pr20{padding-right: 20px !important}
.pb20{padding-bottom: 20px !important}
.pt20{padding-top: 20px !important}

.p30{padding: 30px !important}
.pl30{padding-left: 30px !important}
.pr30{padding-right: 30px !important}
.pb30{padding-bottom: 30px !important}
.pt30{padding-top: 30px !important}

.p40{padding: 40px !important}
.pl40{padding-left: 40px !important}
.pr40{padding-right: 40px !important}
.pb40{padding-bottom: 40px !important}
.pt40{padding-top: 40px !important}

.p50{padding: 50px !important}
.pl50{padding-left: 50px !important}
.pr50{padding-right: 50px !important}
.pb50{padding-bottom: 50px !important}
.pt50{padding-top: 50px !important}
/*END padding*/
/*START Margin*/
.m0{margin: 0 !important}
.ml0{margin-left: 0 !important}
.mt0{margin-top: 0 !important}
.mr0{margin-right: 0 !important}
.mb0{margin-bottom: 0 !important}

.m5{margin: 5px !important}
.ml5{margin-left: 5px !important}
.mr5{margin-right: 5px !important}
.mb5{margin-bottom: 5px !important}
.mt5{margin-top: 5px !important}

.m10{margin: 10px !important}
.ml10{margin-left: 10px !important}
.mr10{margin-right: 10px !important}
.mb10{margin-bottom: 10px !important}
.mt10{margin-top: 10px !important}

.m15{margin: 15px !important}
.ml15{margin-left: 15px !important}
.mr15{margin-right: 15px !important}
.mb15{margin-bottom: 15px !important}
.mt15{margin-top: 15px !important}

.m20{margin: 20px !important}
.ml20{margin-left: 20px !important}
.mr20{margin-right: 20px !important}
.mb20{margin-bottom: 20px !important}
.mt20{margin-top: 20px !important}

.m30{margin: 30px !important}
.ml30{margin-left: 30px !important}
.mr30{margin-right: 30px !important}
.mb30{margin-bottom: 30px !important}
.mt30{margin-top: 30px !important}

.m40{margin: 40px !important}
.ml40{margin-left: 40px !important}
.mr40{margin-right: 40px !important}
.mb40{margin-bottom: 40px !important}
.mt40{margin-top: 40px !important}

.m50{margin: 50px !important}
.ml50{margin-left: 50px !important}
.mr50{margin-right: 50px !important}
.mb50{margin-bottom: 50px !important}
.mt50{margin-top: 50px !important}

.m60{margin: 60px !important}
.ml60{margin-left: 60px !important}
.mr60{margin-right: 60px !important}
.mb60{margin-bottom: 60px !important}
.mt60{margin-top: 60px !important}

.m70{margin: 70px !important}
.ml70{margin-left: 70px !important}
.mr70{margin-right: 70px !important}
.mb70{margin-bottom: 70px !important}
.mt70{margin-top: 70px !important}

.m80{margin: 80px !important}
.ml80{margin-left: 80px !important}
.mr80{margin-right: 80px !important}
.mb80{margin-bottom: 80px !important}
.mt80{margin-top: 80px !important}

.mrmb5{margin-right: 5px !important;margin-bottom: 5px !important}
/*END Margin*/
.pr{position: relative}
.pa{position: absolute}
.pf{position: fixed}
.top-right-corner-button{
    position: absolute;
    top: 5px;
    right: 5px;
    }
.top-left-corner-button{
    position: absolute;
    top: 5px;
    left: 5px;
    }
.bottom-left-corner-button{
    position: absolute;
    bottom: 5px;
    left: 5px;
    }
.bottom-right-corner-button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    }
.db{display:block !important}
.dib{display: inline-block !important}
.dn{display: none !important}
.vam{vertical-align: middle !important}
.vab{vertical-align: bottom !important}
.fwb{font-weight: bold; !important;}
.tac{text-align: center !important}
.tal{text-align: left !important}
.tar{text-align: right !important}
.oh{overflow: hidden !important}
.ov{overflow: visible !important}
.vv{visibility: visible !important;}
.vh{visibility: hidden !important;}
.fl{float:left !important;}
.fr{float:right !important;}
.fn{float:none !important;}
.cb{clear:both !important;}
.cl{clear:left !important;}
.cr{clear:right !important;}
.cn{clear:none !important;}
.te{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
.ta-resize-h{resize: horizontal}
.ta-resize-v{resize: vertical}
.ta-resize-n{resize: none}
.ta-resize-b{resize: both}

.no-radius{border-radius: 0 !important;}
/*--------------*/
.text-color-white{color:#fff}
/*working modal*/
#working_modal_container, .working_modal_container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    display: none;
    z-index: 9999999999999999;
    }
.working_modal_container{
    position: absolute;
    background-color: rgba(255,255,255,.4);
    }
#working_modal_container .working_modal, .working_modal_container .working_modal{
    height: 200px;
    width: 200px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    /* border-radius: 5px; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 133px 5px #fff;
    }
#working_modal_container .working_modal .loader_loading, .working_modal_container .working_modal .loader_loading{
    width: 64px;
    height: 64px;
    margin: 20px 68px;
    background-image: url(images/working3.GIF);
    background-size: contain;
    background-repeat: no-repeat;
    }
#working_modal_container .working_modal .panel-title, .working_modal_container .working_modal .panel-title {
    color: #000;
    /* text-shadow: 0 0 5px #000; */
    }
.autocomplete_loading{
    display: none;
    height: 18px;
    width: 18px;
    }

.flex_left {
	align-items: flex-start; 
	display: flex; 
	justify-content: space-between; 
    }

.flex_right {
	align-items: flex-end; 
	display: flex;
	justify-content: space-between; 	
    }
@media all {
    .page-break	{ display: none; }
    }

@media print {
    .page-break	{ display: block; page-break-before: always; }
    }
/**** styling meta in category*****/
.meta-group{
    position:relative;
}
.remove_meta{
    top: 0px;
    right: 0px;
    position: absolute;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-top: 6px;
}
.cross_invoice{
    position: absolute;
    top: 17px;
    right: 5px;
    z-index: 99999999;
}
.empty_row{
    position: relative;
}
.edit_image_cross{
    position: absolute;
    right: 0px;
    top: -6px;
    }
.edit_image{
    position: relative;
    border: 1px solid #ddd;
    display: inline-block;
    }

/* Captcha Form */
.captcha_form {
    position: relative;
    display: inline-block;
    }
a.captcha_refresh_link {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(32, 84, 164, .5);
    padding: 5;
    border-radius: 5px;
    color: #fff;
    }
.captcha_refresh_link:hover {
    background-color: rgba(32, 84, 164,1);
    color: #fff;
    }
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    }
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
.tags{
    display: inline-block;
    background-color: #1CA933;
    padding: 0 5px;
    color: #fff;
    }
.file-input{
    cursor: pointer !important;
    }
.disableSelection{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    }